// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1103.dtsi"
#include "rv1106-evb.dtsi"
#include "rv1103-luckfox-pico-plus-ipc.dtsi"

/ {
	model = "Luckfox Pico Plus";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1103";


	
	/*ESP32_RST*/
	gpio1pc5:gpio1pc5 {
	  compatible = "regulator-fixed";
	  pinctrl-names = "default";
	  pinctrl-0 = <&gpio1_pc5>;
	  regulator-name = "gpio1_pc5";
	  regulator-always-on; 
	};

	/*UP*/
	gpio1pc7:gpio1pc7 {
	  compatible = "regulator-fixed";
	  pinctrl-names = "default";
	  pinctrl-0 = <&gpio1_pc7>;
	  regulator-name = "gpio1_pc7";
	  regulator-always-on; 
	};
	/*CTRL*/
	gpio1pc6:gpio1pc6 {
	  compatible = "regulator-fixed";
	  pinctrl-names = "default";
	  pinctrl-0 = <&gpio1_pc6>;
	  regulator-name = "gpio1_pc6";
	  regulator-always-on; 
	};

	/*LCD_DC 32+2 = 34*/
	gpio1pa2:gpio1pa2 {
	  compatible = "regulator-fixed";
	  pinctrl-names = "default";
	  pinctrl-0 = <&gpio1_pa2>;
	  regulator-name = "gpio1_pa2";
	  regulator-always-on; 
	};

	/*LCD_RST*/
	gpio1pc3:gpio1pc3 {
	  compatible = "regulator-fixed";
	  pinctrl-names = "default";
	  pinctrl-0 = <&gpio1_pc3>;
	  regulator-name = "gpio1_pc3";
	  regulator-always-on; 
	};

	/*LCD_BL*/
	gpio0pa4:gpio0pa4 {
	  compatible = "regulator-fixed";
	  pinctrl-names = "default";
	  pinctrl-0 = <&gpio0_pa4>;
	  regulator-name = "gpio0_pa4";
	  regulator-always-on; 
	};

	/*KEY_A*/
	gpio1pd1:gpio1pd1 {
	  compatible = "regulator-fixed";
	  pinctrl-names = "default";
	  pinctrl-0 = <&gpio1_pd1>;
	  regulator-name = "gpio1_pd1";
	  regulator-always-on; 
	};
};


&pinctrl {

  gpio1-pc5 {
    gpio1_pc5:gpio1-pc5 {
        rockchip,pins = <1 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
    };
  };

  gpio1-pc6 {
    gpio1_pc6:gpio1-pc6 {
        rockchip,pins = <1 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
    };
  };
  
  gpio1-pc7 {
    gpio1_pc7:gpio1-pc7 {
        rockchip,pins = <1 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;
    };
  };

  gpio1-pa2 {
    gpio1_pa2:gpio1_pa2 { 
        rockchip,pins = <1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
    };
  };

  gpio1-pc3 {
    gpio1_pc3:gpio1_pc3 { 
        rockchip,pins = <1 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
    };
  };

  gpio0-pa4 {
    gpio0_pa4:gpio0_pa4 { 
        rockchip,pins = <0 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
    };
  };

  gpio1-pd1 {
    gpio1_pd1:gpio1_pd1 { 
        rockchip,pins = <1 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>;
    };
  };
	
};

/**********SDMMC**********/
&sdmmc {
	max-frequency = <50000000>;
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_bus4>;
	status = "okay";
};

/**********SFC**********/
&sfc {
	status = "okay";

	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <75000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

/**********ETH**********/
&gmac {
	status = "disable";
};

/**********USB**********/
//&usbdrd {
//	status = "disabled";
//};

//&usbdrd_dwc3 {
//	status = "disabled";
//};

//&u2phy {
//	status = "disabled";
//};

//&u2phy_otg {
//	status = "disabled";
//};

/**********I2C**********/
// &i2c0 {
// 	status = "okay";
// 	pinctrl-0 = <&i2c0m2_xfer>;
// 	clock-frequency = <100000>;
// };
// &i2c3 {
// 	status = "okay";
// 	pinctrl-0 = <&i2c3m1_xfer>;
// 	clock-frequency = <100000>;
// };

/**********SPI**********/
&spi0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi0m0_cs0 &spi0m0_pins>;
	// cs-gpios = <&gpio1 RK_PC0 1>;
	// cs-gpios = <&gpio1 26 1>;
	// #address-cells = <1>;
	// #size-cells = <0>;
//	spidev@0 {
//		compatible = "rockchip,spidev";
//		spi-max-frequency = <1000000000>;
//		reg = <0>;
//	};

	
	st7789v@0{						
		status = "okay";
		compatible = "sitronix,st7789v"; 
		reg = <0>;			
		spi-max-frequency = <50000000>;			
		fps = <30>;
		buswidth = <8>;
		debug = <0x7>;
		led-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;//BL
		dc = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;		//DC
		reset = <&gpio1 RK_PC3 GPIO_ACTIVE_LOW>;	//RES
	};
};



&pinctrl {
  spi0 {
      /omit-if-no-ref/
      spi0m0_pins: spi0m0-pins {
          rockchip,pins =
              /* spi0_clk_m0 */
              <1 RK_PC1 4 &pcfg_pull_none>,
              /* spie_miso_m0 */
              //<1 RK_PC3 6 &pcfg_pull_none>, 
              /* spi_mosi_m0 */
              <1 RK_PC2 6 &pcfg_pull_none>;  

      };
  };
};

/**********UART**********/
// &uart3 {
// 	status = "okay";
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&uart3m1_xfer>;
// };
// &uart4 {
// 	status = "okay";
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&uart4m1_xfer>;
// };
//&uart5 {
//	status = "okay";
//	pinctrl-names = "default";
//	pinctrl-0 = <&uart5m0_xfer>;
//};

/**********PWM**********/

// &pwm0 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm0m0_pins>;
// 	// pinctrl-0 = <&pwm0m1_pins>;
// };
// &pwm1 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm1m0_pins>;
// 	// pinctrl-0 = <&pwm1m1_pins>;
// };

//&pwm2 {
//	status = "okay";
//	pinctrl-names = "active";
//	pinctrl-0 = <&pwm2m2_pins>;
//};
//&pwm3 {
//	status = "okay";
//	pinctrl-names = "active";
//	pinctrl-0 = <&pwm3m2_pins>;
//};
//&pwm4 {
//	status = "okay";
//	pinctrl-names = "active";
//	pinctrl-0 = <&pwm4m2_pins>;
//};
//&pwm5 {
//	status = "okay";
//	pinctrl-names = "active";
//	pinctrl-0 = <&pwm5m2_pins>;
//};
//&pwm6 {
//	status = "okay";
//	pinctrl-names = "active";
//	pinctrl-0 = <&pwm6m2_pins>;
//};
//&pwm7 {
//	status = "okay";
//	pinctrl-names = "active";
//	pinctrl-0 = <&pwm7m2_pins>;
//};
//&pwm8 {
//	status = "okay";
//	pinctrl-names = "active";
//	// pinctrl-0 = <&pwm8m1_pins>;
//	pinctrl-0 = <&pwm8m0_pins>;
//};
//&pwm9 {
//	status = "okay";
//	pinctrl-names = "active";
//	// pinctrl-0 = <&pwm9m1_pins>;
//	pinctrl-0 = <&pwm9m0_pins>;
//};

// &pwm10 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm10m1_pins>;
// 	// pinctrl-0 = <&pwm10m2_pins>;
// 	// pinctrl-0 = <&pwm10m0_pins>;
// };
// &pwm11 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm11m1_pins>;
// 	// pinctrl-0 = <&pwm11m2_pins>;
// 	// pinctrl-0 = <&pwm11m0_pins>;
// };



